/** INICIO */
.contenedorInicio {
  background-image: url(../../../public/img/inicio.jpg);
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.titulos {
  padding-top: 30px;
  font-size: 3.5rem;
  text-align: center;
  font-family: "Abril Fatface", cursive;
}
.tituloPortfolio {
  font-family: "Libre Bodoni", serif;
  padding-top: 30px;
}
/* ---------------------------------------- */
/** SOBRE MI */
.contenedorSobreMi {
  min-height: 100vh;
  background-color: black;
}
.contenidoSobreMi {
  display: flex;
  flex-flow: row wrap;
  padding: 25px 15px;
}
.bloqueImg {
  width: 50%;
  padding: 15px;
}
.fotoSobreMi {
  width: 100%;
  border-radius: 20px;
}
.bloqueSobreMi {
  width: 50%;
  padding: 15px;
}
.tituloSobreMi {
  font-size: 3rem;
  color: #fff;
  font-family: "Abril Fatface", cursive;
}
.textoSobreMi {
  text-align: justify;
  font-size: 1.1rem;
  color: #fff;
  font-family: "Nunito", sans-serif;
}
/* ---------------------------------------- */
/** SKILLS */
.contenedorSkill {
  min-height: 100vh;
}
/* ---------------------------------------- */
/** PROYECTOS */
.contenedorProyectos {
  min-height: 100vh;
  background-color: black;
}
.tituloProyectos {
  color: #fff;
}
/* ---------------------------------------- */
/** CONTACTO */
.contenedorContacto {
  min-height: 50vh;
}
.bloqueContacto {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 25px 15px;
}
.imgContacto,
.canalesContacto {
  width: 50%;
  padding: 15px;
}
.imgPerfil {
  width: 100%;
}
.canalesContacto {
  width: 50%;
  padding-top: 70px;
}
.canalesContacto h3 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 75px;
  font-family: "Abril Fatface", cursive;
}
.canalesContacto ul {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.iconContacto {
  font-size: 2.5rem;
}
.linkedin:hover {
  color:rgb(45, 45, 224);
}
.email:hover{
  color:red;
}
.gitHub:hover{
  color:gray;
}

/*? MQ */

@media screen and (max-width: 560px) {
  /** INICIO */
  .tituloPortfolio {
    padding: 10px;
    font-size: 3rem;
  }
  /* ---------------------------------------- */
  /** SOBRE MI */
  .contenidoSobreMi {
    flex-direction: column;
    padding: 0;
  }
  .bloqueImg {
    width: 100%;
  }
  .bloqueSobreMi {
    width: 100%;
    order: -1;
  }
  .tituloSobreMi {
    font-size: 2.5rem;
    text-align: center;
  }
  /* ---------------------------------------- */
  /** CONTACTO */
  .bloqueContacto {
    padding: 25px 0;
  }
  .imgContacto,
  .canalesContacto {
    width: 100%;
    padding: 10px;
  }
  .canalesContacto {
    width: 100%;
    padding-top: 20px;
  }

  .canalesContacto h3 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 30px;
  }
  .canalesContacto ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
  }
  .canalesContacto ul li {
    text-align: center;
    width: 100px;
  }
}
