#sobreMi {
  position: absolute;
  top: 150px;
  left: 200px;
  transform: translate(90%, 90%);
  animation: moveIcon 1.5s 0.5s both;
  visibility: hidden;
}
#skills {
  position: absolute;
  top: 150px;
  right: 200px;
  transform: translate(-90%, 90%);
  animation: moveIcon 1.5s 1s both;
  visibility: hidden;
}
#proyectos {
  position: absolute;
  top: 450px;
  left: 200px;
  transform: translate(90%, -90%);
  animation: moveIcon 1.5s 1.5s both;
  visibility: hidden;
}
#contacto {
  position: absolute;
  top: 450px;
  right: 200px;
  transform: translate(-90%, -90%);
  animation: moveIcon 1.5s 2s both;
  visibility: hidden;
}
.botonPortada {
  width: 150px;
}

.enlaceSeccion{
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-family: 'Roboto Mono', monospace;
}
.enlaceSeccion:hover{
  font-weight: bold;
  color: black;
}


@keyframes moveIcon {
  100% {
    transform: unset;
    visibility: visible;
  }
}



@media screen and (max-width:560px){
  #sobreMi {
    top: 125px;
    right: 220px;
    left: 5px;
  }
  #skills {
    top: 125px;
    left: 220px;
    right: 5px;
  }
  #proyectos {

    top: 510px;
    left: 5px;
    right: 220px;
  }
  #contacto {

    top: 510px;
    right: 5px;
    left: 220px;

  }
}
