/** PROYECTOS */
.contenedorProyectos {
  min-height: 100vh;
  background-color: black;
}
.tituloProyectos {
  color: #fff;
}
.bloqueProyectos {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-flow: row wrap;
}
/* ---------------------------------------- */
@media screen and (max-width: 560px){
  .bloqueProyectos{
    padding: 0 8px;
  }
}