.contenedorSkills {
  min-height: 100vh;
}
.slider {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 80%;
}
slider:before,
slider:after {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

slider:after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

slider:before {
  left: 0;
  top: 0;
}

.slide-track {
  animation: scroll 2500ms linear infinite alternate;
  display: flex;
  width: calc(250px * 10);
}

.slide {
  height: 100px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icoSkills {
  font-size: 4rem;
  margin-bottom: 10px;
}
.nombreSkills {
  font-size: 1.2rem;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}

/* @keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 6));
  }
} */

@media screen and (max-width: 560px) {
  .contenedorSkills {
    min-height: 50vh;
  }
  .slider {
    width: 95%;
  }

  .slide-track {
    animation: scroll 2500ms linear infinite alternate;
    display: flex;
    width: calc(250px * 10);
  }
  .slide {
    width: 120px;
  }

  .icoSkills {
    font-size: 3rem;
  }
  .nombreSkills {
    font-size: 1.1rem;
  }
}
